@{
    ViewBag.Title = "3 Patitos S.A - Detección de Requerimientos";
}

<main>
    <section class="row" aria-labelledby="companyTitle">
        <h1 id="companyTitle">Ejercicio en Clase - Detección de Requerimientos</h1>
        <p class="lead">Planteamiento del problema</p>
        <p>
           empresa 3 Patitos S.A
        </p>
    </section>

    <section class="row my-4 text-center">
        <div class="col">
            <img src="~/images/3PatitosLogo.png" alt="Logo de 3 Patitos S.A" class="img-fluid" style="max-width: 300px;">
        </div>
    </section>

   
</main>
